body {background-color: #000080;
color: gold;
margin: 0;}

.navbar-color {
background-color: #0055ff !important;
border: 3px solid yellow;
position: fixed;
width: 100%;
}


.link-color {
color: gold;
font-size: 25px;
}

.link-color:hover {
color: yellow !important;
font-size: 30px;
}


main {padding: 80px;}


.login {background-color: green;
margin-right: 40px;
width: 100px;}

.register {
width: 100px;
background-color: purple;
}