{% extends "base_page.html" %}

{% block title %}Морская оборона{% endblock %}

{% block content %}
<h1>Морская оборона</h1>
        <p>
            Морская оборона — это игра, в которой Вы можете почувствовать себя капитаном корабля! Здесь Вы
            воюете против всех и вся, весь мир ополчился против Вас. Вы спросите, почему? Что же такого мы
            сделали? На самом деле потому, что Вас просто никто не любит) Ну да ладно, шутки в сторону!
        </p>
        <p>
            Морская оборона в каком-то плане жизненная игра, так как Вы почти без поддержки должны выжить и,
            более того, поднять свою репутацию, уничтожая врагов и зарабатывая очки, или деньги, тут уж как хотите)
        </p>
        <p>
            Цель игры проста: набрать как можно больше очков или продержаться как можно больше времени! <br>
           </p>
        <h2>Наше дело правое, победа будет за нами!</h2>

            <img src="https://ie.wampi.ru/2023/04/10/Image-1.png"
            alt="Game image" width="1200" height="675" class="container main-content">
{% endblock %}
