{% extends "secondary_form.html" %}

{% block content %}
<br>
<form action="" method="post">
    <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
                <p class="text-white-50 mb-5">Пожалуйста, введите свои данные!</p>
                <div class="form-outline form-white mb-4">
                    <p>
        {{ form.email(class="form-control form-control-lg", type="email", id="typeEmailX") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <label class="form-label" for="typeEmailX" style="margin-left: 0px;">Электронная почта</label>
    </p>
                    </div>
                    <div class="form-outline form-white mb-4">
                    <p>
        {{ form.name(class="form-control form-control-lg", id="typePasswordX") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <label class="form-label" for="typePasswordX" style="margin-left: 0px;">Имя</label>
    </p>
                    </div>
                    <div class="form-outline form-white mb-4">
                    <p>
        {{ form.name(class="form-control form-control-lg", id="typePasswordX") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <label class="form-label" for="typePasswordX" style="margin-left: 0px;">Фамилия</label>
    </p>
                    </div>
                <div class="form-outline form-white mb-4">
                    <p>
        {{ form.password(class="form-control form-control-lg", type="password", id="typePasswordX") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <label class="form-label" for="typePasswordX" style="margin-left: 0px;">Пароль</label>
    </p>
              </div>
                    <div class="form-outline form-white mb-4">
                    <p>
        {{ form.password_again(class="form-control form-control-lg", type="password", id="typePasswordX") }}
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <label class="form-label" for="typePasswordX" style="margin-left: 0px;">Повторите пароль</label>
    </p>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Зарегистрироваться</button>
                    </div>
                  <div>
                <p class="mb-0">Уже есть аккаунт? <a href="/login" class="text-white-50 fw-bold">Войти</a></p>
              </div>
            </div>
    </div>
</form>
{% endblock %}


{% block sign %}Register{% endblock %}