{% extends "base_page.html" %}

{% block title %}Отзывы{% endblock %}
{% block css %}<link rel="stylesheet" href="/static/css/reviews.css">{% endblock %}

{% block content %}
<br>
<a class="btn btn-primary write" href="/reviews/write">Написать отзыв</a>
{% for review in reviews[::-1] %}
    <br>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
         data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4>{{ review. name }}</h4>
        <h4 id="scrollspyHeading1">{{ review. topic }}</h4>
        <p>{{ review. review }}</p>
        <h6>{{ review. send_date }} </h6>
    </div>
{% endfor %}
{% endblock %}
